@model JobWorkViewModel
<br />
<br />
@if (ViewBag.NewLoad == true)
{
    <h2>Create a Job Work</h2>
    <form asp-controller="JobWork" asp-action="NewJobWork" method="post">
        <div class="form-group">
            <input type="hidden" class="form-control" id="JobWorkId" name="JobWorkId" value="@Model.JobWorkId">
        </div>

        <div class="form-group">
            <input type="hidden" class="form-control" id="JobWorkOrgId" name="JobWorkOrgId" value="@Model.JobWorkOrgId">
        </div>

        <div class="form-group">
            <input type="hidden" class="form-control" id="OrgName" name="OrgName" value="@Model.OrgName">
        </div>

        <div class="form-group">
            <input type="hidden" class="form-control" id="Status" name="Status" value="@Model.Status">
        </div>

        <div class="form-group">
            <label for="Name">JobWork Name:</label>
            <input type="text" class="form-control" asp-for="Name" required>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="Description">JobWork Description:</label>
            <input type="text" class="form-control" asp-for="Description" required>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="LoadGroup">Load Group:</label>
            <select class="form-control" asp-for="LoadGroup" required>
                <option value="">--Select Load Group (Choose a load to associate this job work with)--</option>
                <option value="AllLG">Apply All Load Groups</option>
                @foreach (var loadgroup in Model.LoadGroupList)
                {
                    <option value="@loadgroup">@loadgroup</option>
                }
            </select>
            <span asp-validation-for="LoadGroup" class="text-danger"></span>
        </div>

        <h3>Enter Customer Details</h3>
        <div class="form-group">
            <label for="CustomerName">Customer Name:</label>
            <input type="text" class="form-control" asp-for="CustomerName" required>
            <span asp-validation-for="CustomerName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="CustomerEmail">Customer Email:</label>
            <input type="text" class="form-control" asp-for="CustomerEmail" required>
            <span asp-validation-for="CustomerEmail" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="CustomerAddress">Customer Address:</label>
            <input type="text" class="form-control" asp-for="CustomerAddress" required>
            <span asp-validation-for="CustomerAddress" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="CustomerGSTIN">Customer GSTIN:</label>
            <input type="text" class="form-control" asp-for="CustomerGSTIN" required>
            <span asp-validation-for="CustomerGSTIN" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="CustomerPAN">Customer PAN:</label>
            <input type="text" class="form-control" asp-for="CustomerPAN" required>
            <span asp-validation-for="CustomerPAN" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-create-organisation">Proceed</button>
    </form>
}
else
{
    <br />
    <br />
    <h2>New JobWork <span style="display:inline" ; class="text-success">@Model.Name</span> Created Successfully</h2>
    <p>JobWork Description: @Model.Name</p>
    <br />
    <table class="table">
        <tbody>
            <tr>
                <td>Organisation Name:</td>
                <td>@Model.Name</td>
            </tr>

            <tr>
                <td>Creation Date:</td>
                <td>@Model.CreationDate</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <tbody>
            <tr>
                <td>Customer Name:</td>
                <td>@Model.CustomerName</td>
            </tr>
            <tr>
                <td>Customer Email:</td>
                <td>@Model.CustomerEmail</td>
            </tr>
            <tr>
                <td>Customer Address:</td>
                <td>@Model.CustomerAddress</td>
            </tr>
            <tr>
                <td>Customer GSTIN:</td>
                <td>@Model.CustomerGSTIN</td>
            </tr>
            <tr>
                <td>Customer PAN:</td>
                <td>@Model.CustomerPAN</td>
            </tr>

        </tbody>
    </table>
    <a asp-controller="Load" asp-action="LoadEntry" asp-route-id="@Model.Name" class="btn btn-create-organisation">Add Load Entry</a>
    <a asp-controller="Load" asp-action="ListLoads" asp-route-id="@Model.Name" class="btn btn-create-organisation">View Loads</a>
}

@section styles {


}

